h1 { font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: ghostwhite;
    background-color: black;
}

span {
    color: cyan;
}

h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: cornsilk;
    text-align: center; font-style: italic;
    background-color: mediumpurple;
}

.thin {
    font-weight: lighter;
}

h3 {
    font-size: 25px;
    color: indigo;
    text-decoration: underline; text-align: right;
    background-color: rgb(141, 191, 233);
}

